<div style="float:right; width:80%">
  <h1> Our Cheap Recipes </h1>
<% for e in @recipe do %>
  <%@pcost = e.cost/e.output%>
  <% if @pcost < 3 %>
  <div>
    <h2> <%= e.title %> (<%=e.genre%>) by Chef: <%= @chef.find(e.chef_id).name%> </h2>
    <%= e.ingredients.html_safe %>
    <br>
    Directions: <%= e.directions %>
    <br>
    Feeds: <%= e.output %>
    <br>
    Costs: <%= e.cost %>
  </div>
  <%end%>
<%end%>
</div>


